.footer {
  position: absolute !important;
  bottom:-300vh !important;
  width: 100%;
  background-color: #00C8FF;
  color: #FFFFFF;
  height: 250px;
  }
.menuFooter {
  float:right;
  background-color: #00C8FF;
  border-bottom-color: #00C8FF;
  color: #FFFFFF;
}
.rightAlign {
  float: right;
}
.marginRight {
  margin-right: 12px;
}
.menuFooterFont {
  font-family: 'Poppins', sans-serif;
  color: white;
}
.footerLogo {
  width: 160px;
}