.footer {
  position: relative !important;
  bottom:0 !important;
  width: 100%;
  background-color: #00C8FF;
  color: #FFFFFF;
  }
.menuFooter {
  float:right;
  background-color: #00C8FF;
  border-bottom-color: #00C8FF;
  color: #FFFFFF;
}
.rightAlign {
  float: right;
}
.marginRight {
  margin-right: 1em;
}
.menuFont {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.footerLogo {
  width: 160px;
}