html { scroll-behavior: smooth; }

.header {
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 0 !important;
    background-color: #FFFFFF;
    height: 66px;
}

;
.menuHeader {
    float: right;
    background-color: #00C8FF;
    border-bottom-color: #00C8FF;
    color: #FFFFFF;
}

.rightAlign {
    float: right;
}

.leftAlign {
    float: left;
}

.menuFont {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #00C8FF !important;
}
.headerLogo {
    width: 160px;
}