body {
    overflow-y: scroll;
}

.dashboardheader {
    padding-left: 100px;
    background-color: #00C8FF;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.dashboardcontainer {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    color: #00C8FF;
}

.normal {
    font-weight: 300;
}

.bold {
    margin-left: 0.5%;
    font-weight: 600;
}

.opaque {
    background: url("../cloud.png")no-repeat center center;
    background-size: 100% 100%;
}

.piechart {
    width: 100%;
    padding-top: 100%;
    background-color: #00C8FF;
    border-radius: 50%;
    display: inline-block;
}

.stats {
    position: relative;
    border-radius: 25px;
    background-color: white;
    font-weight: normal;
    top: 0%;
    width: 80%;
    height: 100%;
    box-shadow: 0px 0px 8px -3px rgba(138, 131, 138, 1);
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.statsgraph {
    position: relative;
    border-radius: 25px;
    background-color: white;
    color: #00C8FF;
    font-weight: normal;
    top: 0%;
    width: 94%;
    height: 100%;
    box-shadow: 0px 0px 8px -3px rgba(138, 131, 138, 1);
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.title {
    color: #00C8FF;
}

.statnum {
    font-size: xx-large;
    margin-bottom: -20px;
    font-weight: 800;
}

.centered {
    margin-inline: auto;
}

.bodyheader {
    margin-inline-start: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: large;
    font-weight: 600;
    background-color: rgba(138, 131, 138, 0);
}

.ant-layout {
    height: calc(100vh - 66px) !important;
}