.editProfilePage {
    background-color: #00C8FF;
    padding: 50px;
}

.editProfileMain {
    position: relative;
    display: block;
    background-color: #ffffff;
    width: 700px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    font-family: 'Roboto';
}

.editProfileMain h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #00C8FF;
}

.ant-input {
    border-radius: 5px;
    background-color: #E3EFF9;
    border: none;
}

.ant-form-item-label label {
    color: #00C8FF;
    font-size: 18px;
    font-weight: bold;
}
.submitRight {
    color: white;
    background-color: #00C8FF;
    font-family: 'Poppins';
    border-radius: 12px;
    width: 150px;
    height: 40px;
}
.profileCenter {
    text-align: center;
    vertical-align: middle;
}
.profilePicture {
    background-color: #00C8FF;
    margin-top: 30%;
    margin-left: 15%;
}