::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00C8FF;
    border-radius: 5px 5px 5px 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #006CCF;
}

.spin {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.extra-margin {
    margin-top: 100px;
}

.ant-image-img {
    display: inline !important;
}